*{
    text-align: center;
    background-image: url("quiz1.jpg");
    color:rgb(139, 131, 131);
    font-weight: bold;
    font-size: 18px;
    
}
#pocetak{
    color:red;
}
.panel-heading{
    font-style: italic;
    font-size: 20px;
}
